/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/posts/Post.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.Post_posts_container__3wX7N{
  width: var(--container-width-large);
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/PostCard.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/

.PostCard_posts_container__9IrTy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.PostCard_post__8ldQN {
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 1;
  background: var(--postcolorwhite);
  border: 1px solid var(--colorborder);
  border-radius: var(--radius-4);
  padding: 1rem;
  padding-bottom: 2rem;
  transition: var(--transition);
  cursor: default;
  width: 310px;
}
.PostCard_post__8ldQN:hover {
  box-shadow: 0 1.5rem 2rem var(--color-boxshadow);
}

.PostCard_post_content___kTrO {
  margin-top: 1.5rem;
}

.PostCard_post_content___kTrO h3 {
  margin: 1rem 0 0.6rem;
}
.PostCard_post_content___kTrO p {
  margin-bottom: 1rem;
}


