.navbar {
  width: 100vw;
  height: 5rem;
  padding: 5px;
  display: grid;
  place-items: center;
  background: var(255, 255, 255, 8.5);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  border-bottom: 4px solid var(--colorbackground);
}

.navbarContainer {
  width: var(--container-width-large);
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbarMenu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbarToggleBtn {
  display: none;
}

.nav_logo {
  width: 80px;

  padding: 10px;
  display: block;
}

.navbarLogoAndHeader {
  display: flex;
  gap: 1rem;
}
.navbarLogoAndHeader h3 {
  align-self: center;
  color: var(--colorgray-9);
}

@media screen and (max-width: 800px) {
  .navbar {
    width: 100%;
  }
  .navbarContainer {
    position: relative;
    flex-direction: column;
    /* justify-content: space-evenly; */
  }
  .navbarMenuInner p {
    font-size: 14px;
  }
  .navbar_menu {
    box-shadow: 0 1rem 1.5rem var(--color-boxshadow);
    background: var(--colorwhite);
    position: absolute;
    top: 5rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--colorborder);
    border-radius: var(--radius-4);
  }
  .navbar_menu {
    width: 100%;
    border-radius: var(--radius-4);
    margin: 5px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    animation: dropdown 500ms ease forwards;
    opacity: 0;
    transform: rotateX(90deg);
    transform-origin: top;
  }
  .navbar_menu a {
    background: transparent;
    background: var(--color-white);
    padding: 0.85rem 2.5rem;
  }
  .darkMode {
    padding: 10px;
  }
  .nightlightli {
    border: 1px solid var(--colorgray-9) !important;

    background: var(--colorgray-9) !important;
    display: flex;
    justify-content: center;
  }

  .nav_toggle-btn {
    display: inline-block;
    background: transparent;
    font-size: 1.5rrem;
    cursor: pointer;
  }

  @keyframes dropdown {
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
}
